* {
    margin: 0;
    padding: 0;
    box-sizing: border;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #000;
    color: #eee;
    font-size: 12px;
}